<!--[ footer ] -->
<div id="footer">
    <div class="footer-block">

      <div class="row">


        <div class="col-md-3 ml-auto">
          <h4>About Me</h4>
          <p>My name is Meir Rosilio. I build this product as part of <a href="https://www.theodinproject.com/" target="_blank">
            the odin project</a>. I am an entrepreneur who founded and served as a CEO of two companies in the last three years.
            I am passionate about creating new products or services, business models, understanding and delivering a value to
            consumers or business.</p>
        </div>

        <div class="col-md-3 ml-auto ">
          <h4>Education</h4>
          <p>I hold a B.A in business administration and LLB. During my studies I took part at the ZELL program.
            The program provides a platform for the development of a real business from concept to launch. In addition,
            I participated at the Start-up Class. I also took the following class on Coursera:  Python basics. Python data structure.
            Python access to web data. Python with MySQL.Android for beginners.  Advance Android programing, Ruby on Rail.
          </p>
        </div>

        <div class="col-md-3 ml-auto">
          <h4>Social Media</h4>
          <p><a href="https://github.com/meirosilio" target="_blank"><i class="fa fa-github fa-2x"></i></a> meirosilio</p>
          <p><a href="https://www.facebook.com/meirosilio?ref=bookmarks" target="_blank"><i class="fa fa-facebook fa-2x"></i></a> meirosilio </p>
          <p><a href="https://www.linkedin.com/in/meir-rosilio-6733b460/" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a> meirosilio </p>
        </div>



      </div>




      <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-4">
          <span class="small"> (C) All Right Reserve To Meir Roislio </span>
        </div>
      </div>

    </div>

</div>

