


<div class="jumbotron">
  <h1 class="display-3">F L I C K R  I T!</h1>
  <p class="lead">Search for a flicker user's  photos by using their ID.</p>
</div>
<div class="card mx-auto" id="search-card">
  <div class="card-body">
    <div class="row my-4">
      <div class="col-md-1"></div>
      <div class="col-md-8">
        <input class="form-control mr-sm-2" type="search" placeholder="Insert Flicker User Id" aria-label="Search">
      </div>
      <div class="col-md-2">
        <button class="btn btn-outline-primary btn-block my-2 my-sm-0" type="submit">Search</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <%= 20.times do %>
      <div class="card col-md-2" id="photo-card">
        <img class="card-img-top mt-2" src="https://www.w3schools.com/html/pulpitrock.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
  <% end %>
</div>

<%= @photos %>