<footer>
  <small>All right (C) reserve to Meir Rosilio</small>
  <nav>
    <ul>
      <li><%= link_to "About",   "#" %></li>
      <li><a href="https://github.com/meirosilio" target="_blank">Github</a></li>
      <li><a href="https://www.linkedin.com/in/meir-rosilio-6733b460" target="_blank">Linkedin</a></li>
    </ul>
  </nav>
</footer>