<div class="how-does-it-works-title">

  <div class="row">
    <div class="col-md-5 offset-md-4">
      <h1 class="display-3">How Does It Works?</h1>
    </div>
    <div class="col-md-5 offset-md-5">
      <p class="lead">We belive in making things simple!</p>
    </div>
  </div>

</div>


<div class="how-does-it-works-content">
  <div class="row">
    <% 3.times do |n| %>
        <div class="col-md-3 offset-md-1">
          <img src="https://placeimg.com/450/300/arch" alt="Smiley face" width="400px" height="300px">
          <p>Step <%= n+1 %>: all you need to do is to be in love</p>
        </div>
    <% end %>
  </div>
</div>