
<div class="row my-5">
  <div class="col-md-1 "></div>

  <div class="card">
    <div class="card-header">
      <legend>Search For Flights...</legend>
    </div>
    <div class="card-body">
      <%= render 'flights/search_flights' %>

    </div>
  </div>



</div>
