<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Hi, We are house club.</h1>
    <p class="lead">It's cool. It's wow. It's smart.</p>
    <%= link_to "JOIN THE CLUB",registration_path ,class:"btn btn-lg"%>
  </div>
</div>